html,body,#root
  padding: 0
  margin: 0
  height: 100%
  width: 100%
body
  background-color: #2d3e4f
  font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif
  display: flex
  align-items: center

@media(min-width: 1024px)
  #root
    margin: 20px auto
    width: 60%

