#search-page
  form
    margin: 20px 0
    display: flex
    justify-content: center
    input#location
      flex: 7
    button#search
      flex: 1

#search-box
  box-sizing: border-box
  background-color: white
  margin: auto
  padding: 20px
  h1,h2
    font-size: 2em
    margin: 0
    font-weight: 100
    text-align: center
  h2
    font-size: 1.3em
    margin: 0
    font-weight: 100
    text-align: center
    color: #777
