#search-page
  #search-box
    h1 Where can we find you the best?
    form(name="searchForm")
      input#location.nice(type="text", ng-model="search", required=true, placeholder="123 Bedford Ave, Brooklyn, NY")
      button#search.nice.blue(ng-click="search()") Find it
